<!DOCTYPE html>

<html lang="en">
    {% include head.html %}
    
    <!-- other stuff -->
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >

  <body>
    {% include sidebar.html %}

    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
	    {% if page.title == "Home" %}
            {{ site.title }}
            <small>{{ site.tagline }}</small>
	    {% else %}
	    {{ page.title }}
	    {% endif %}
          </h3>
        </div>
      </div>

      <!-- Page content -->
      <div class="container content">
        {{ content }}
      </div>

    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>


    {% include foot.html %}


    <!-- Scripts -->
    <!-- script for sidebar toggling -->
    <script>
      (function(document) {
      var toggle = document.querySelector('.sidebar-toggle');
      var sidebar = document.querySelector('#sidebar');
      var checkbox = document.querySelector('#sidebar-checkbox');

      document.addEventListener('click', function(e) {
      var target = e.target;

      if(!checkbox.checked ||
      sidebar.contains(target) ||
      (target === checkbox || target === toggle)) return;

      checkbox.checked = false;
      }, false);
      })(document);
    </script>

    
    <!-- <\!-- jQuery (necessary for Bootstrap's JavaScript plugins) -\-> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->

    <!-- <\!-- Latest compiled and minified Bootstrap JavaScript -\-> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
  </body>
</html>
